@model C2_Dominio.Entidades.Pago

@switch(Model.numeroError)
{
    case 0:
        <fieldset>
            <table>
                <tr>
                    <td>
                        <strong>Sub total</strong><br />
                        <strong>Descuento</strong><br />
                        <strong>Recargo</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.subTotal)<br />
                        @Html.DisplayFor(model => model.descuentoTotal)<br />
                        @Html.DisplayFor(model => model.recargoTarjeta)
                    </td>
                </tr>
                @if (Model.tipoComprobante.descripcion.Equals("Factura"))
                {
                    <tr>
                        <td>
                            <strong>Sub IGV</strong><br />
                            <strong>IGV</strong>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.pagoSubTotalIGV)<br />
                            @Html.DisplayFor(model => model.pagoIGV)
                        </td>
                    </tr>
                }
                <tr>
                    <td><strong>Total pago</strong></td>
                    <td><strong>@Html.DisplayFor(model => model.pagoTotal)</strong></td>
                </tr>
            </table>
        </fieldset>
        <br />
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <input type="button" id="btnRegistrarPago" class="btn btn-info btn-sm" data-toggle="modal" data-target="#respuestaRegistrarPagoModal" value="Registrar Pago" />
            </div>
        </div>
        break;
    case 1:
        <div style="color:red"><strong>ERROR</strong></div><div>Seleccione documento de pago.</div>
        break;
    case 2:
        <div style="color:red"><strong>ERROR</strong></div><div>Seleccione documento de pago.</div>
        break;
    case 3:
        <strong>ADVERTENCIA</strong>
        <div>El cliente no tiene datos de empresa, no puede recibir Factura.</div>
        break;
    case 4:
        <strong>ADVERTENCIA</strong>
        <div>Actualice el tipo de documento de pago.</div>
        break;
}

<!-- Modal -->
<div class="box-content">
    <div class="modal fade" id="respuestaRegistrarPagoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-body" id="bodyModalDatosPago">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#btnRegistrarPago").click(function () {
        $("#bodyModalDatosPago").load('@Url.Action("registrarPago", "GestionarPago")')
    });
</script>